{% extends 'base.html' %}
{% load bootstrap4 %}
{% load socialaccount %}

{% block body %}
    {% if request.resolver_match.url_name == 'signup' %}
        <h1>회원가입</h1>
    {% elif request.resolver_match.url_name == 'login' %}
        <h1>로그인</h1>
    {% else %}
        <h1>프로필수정</h1>
    {% endif %}
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %} 
        {% bootstrap_form form %}
        <input type="submit">
    </form>
    {% if request.resolver_match.url_name == 'login' %}
        <a href="{% provider_login_url 'kakao' method='oauth2' %}">카카오로그인</a></a>
    {% endif %}
{% endblock %}




